*{
    padding:0;
    margin:0;
    box-sizing: content-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1476820865390-c52aeebb9891?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;;

}
.loading-text{
    width: 100px;
    height: 100px;
    /*background-color: aqua;
    */font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    z-index: -1;
    filter: blur(0px);
    -webkit-filter: blur(0px);
}