*{
    padding:0;
    margin:0;
}
body{
    background-color: rgb(31, 118, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{

}
#textarea{
    resize:none;
    border:none;
}
#textarea:focus{
    outline: none;
}