:root{
    --left-bg-color: rgba(87, 84, 236, 0.7);
    --right-bg-color: rgba(43, 43, 43, 0.8);
    --left-btn-hover-color: rgb(255, 255, 255);
    --right-btn-hover-color: rgba(28, 122, 28, 1);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
}
*{
    padding:0;
    margin:0;
    box-sizing: content-box;
}
body{
    background-color: #ccc;
}
.container{
    width: 100vw;
    position: relative;
}
.split{
    position: absolute;
    width: 50%;
}
.left{
    height: 100vh;
    left:0;
    background-image: url('./ps5.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}
.left h2{
    position: absolute;
    left:50%;
    top:20%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    color:#fff;
    font-size:2rem;
}
.left button{
    position:absolute;
    left:50%;
    top:30%;
    border:2px solid #fff;
    background-color: transparent;
    padding:10px;
    font-size: 2rem;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    color:#fff;
    cursor: pointer;
}
.right{
    right:0;
    height:100vh;
    background-image: url('./xbox.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}
.right button{
    position:absolute;
    right:50%;
    top:30%;
    border:2px solid #fff;
    background-color: transparent;
    padding:10px;
    font-size: 2rem;
    transform: translate(50%);
    -webkit-transform: translate(50%);
    -moz-transform: translate(50%);
    -ms-transform: translate(50%);
    -o-transform: translate(50%);
    color:#fff;
    cursor: pointer;
}