*{
    padding:0;
    margin:0;
}
.container{
    position: relative;
}
.circle-container{
    width: 200px;
    height: 200px;
    background-color: brown;
    border-radius: 50%;;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: 50%;
}
.close{
    height:100px;
}
