*{
    padding:0;
    margin:0;
    box-sizing: content-box;
}
body{
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    width: 400px;
    height: 300px;
    background-color: rgba(0,0,0,.5);
}
.container h1{
    color:#fff;
    text-align: center;
    margin:30px;
}
