*{
    padding:0;
    margin:0;
}
:root{
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f7fb;
}
.container{
    width: 300px;
 
}
.container-progress{
    display: flex;
    justify-content: space-between;
    position:relative
}
.progress{
    position: absolute;
    
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid #fff;
    color:#999;
}
.active{
    border-color: var(--line-border-fill);
}
.btnBox{
    margin-top:20px;
    display: flex;
    justify-content: center;
}
.btn{
    width: 100px;
    height: 30px;
    background-color: var(--line-border-fill);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff
}
#next{
    margin-left:20px;
}