*{
    padding:0;
    margin:0;
}
body{
    background-image: linear-gradient(90deg,#7d5fff, #7158e2);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    position: relative;
    background-color: #fff;
}
.input{
    border:none;
    height:50px;
    outline: none;
    width: 50px;
    transition:linear .5s;
    -webkit-transition:linear .5s;
    -moz-transition:linear .5s;
    -ms-transition:linear .5s;
    -o-transition:linear .5s;
}
.container.active .input{
    padding-left: 20px;
    width: 200px;
    transition:translateX(200px);
    -webkit-transition:translateX(200px);
    -moz-transition:translateX(200px);
    -ms-transition:translateX(200px);
    -o-transition:translateX(200px);
}
.btn{
    position: absolute;
    left:0;
    top:0;
    height:50px;
    width: 50px;
    border:none;
    background-color: red;
    font-size: 20px;
    cursor: pointer;
}
.container.active .btn{
    transition:linear .5s;
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transition:linear .5s;
    -moz-transition:linear .5s;
    -ms-transition:linear .5s;
    -o-transition:linear .5s;
}