*{
    padding:0;
    margin:0;
}
body{
    background-image: linear-gradient(90deg,#7d5fff, #7158e2);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    position: relative;
}
.input{
    
    height:50px;
    outline: none;
    padding-left: 20px;
}
.btn{
    height:50px;
    width: 50px;
    border:none;
}